:root {
    --color-primary: #ff9854;
    /* 修改全局search图标颜色 */
    --van-search-left-icon-color: var(--color-primary) !important;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', sans-serif;
}